#features{
    padding-top:100px;
    .container {
        display:grid;
        grid-template-columns: repeat(auto-fit,300px);
        grid-auto-flow:dense;
        max-width: 1800px;
        text-align:center;
        justify-content:center;

        .box1 {
            grid-row:span 2;
            width: 300px;
            height: 450px;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            
            .header1 {
                font-size: 40px;
            }
                        
            .button{
                align-self: center;
                @include button(140px,50px);
            }
            .button:hover{
                @include buttonhover;
            }
        }
        .box{
            justify-self: center;
            padding:20px;
            padding-left:70px;
            padding-right:60px;
            width:400px;
            height: 315px;
        }
    }
}

@include xl{
    #features{
        .container {
            justify-content:left;
            text-align:left;
            grid-template-columns:500px repeat(auto-fit,minmax(400px,auto));
            .box1 {
                width: 500px;

                .header1 {
                    font-size: 60px;
                }
                .button{
                    align-self:unset;
                    @include button(140px,50px);
                }
            }
            .box{
                justify-self:left;
            }
        }
    }
}