.background_top{
    position: relative;
    left:0;
    top:0;
}

#navbar-top{ 
    position:sticky;
    z-index: 5;
    top:0;
    left:0;
    background-color:#F8F9FE;
    .navbar{
        height:110px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        position: relative;
        z-index: 4;
    
            #check{
                display:none;
            }

            .checkbtn{
                cursor:pointer;

                i{
                    font-size: 40px;
                }
            }

            #check:checked ~ ul{
               right:0;
            }

           #check:checked ~ .checkbtn{
                display:fixed;            
            }

            ul {
               transition:right 1s ease-in-out; 
               position:absolute;
               z-index: 2; 
               width:100%;
               padding-left:0;
               top:120px;
              right:-110%;
               @include background-gradient;

                li {
                    cursor:pointer;
                    height:40px;
                    display:flex;
                    justify-content: center;
                    font-size: 24px;
                    color:$light;
                    text-align:center;
                    margin:40px 0;
                    line-height:50px;
                    transition:background 2s;
                    transition:color 1s;

                    i{
                        font-size: 30px;
                    }

                    .fa-search {
                        margin-top:5px;
                        transition:color 1s;
                    }

                    .fa-search:hover {
                        color:$orange;
                    }

                }

                li:hover{
                    background:#F8F9FE;
                    color:$dark;
                }
            }

        .button {
            @include button(150px);
            
        }

        .button:hover {
            @include buttonhover;
        }
    }
}

@include lg {
   #navbar-top{
       
       border-bottom:1px solid  $grayborder;
        .navbar {
            height:110px;
            width:100%;
            display: flex;
            align-items: center;
            
            ul{
                
                height: 90px;
                position:unset;
                z-index:unset; 
                padding-left:unset;
                display:flex;
                justify-content: right;
                align-items:center;
                background:transparent ;

                li{
                    
                    font-size: 17px;
                    display:flex;
                    align-items: center;
                    line-height:0;
                    color:$dark;
                    margin:unset;
                    margin-right:50px;
                    background-color:#F8F9FE;
                    .a{
                        transition: color 0.5s;
                    }
                    

                    .a:hover{
                        background-color:#F8F9FE;
                        color:$orange;
                    }
                }  

                li:last-child{
                    margin-right:10px;
                }
                .search {
                    margin-right:30px;
                    margin-left:-20px;
                }


            }  
            
            .checkbtn{
                display:none;
            }
        }
    }    
}
