* {
    box-sizing: border-box;
}

html, body {
    a{
        text-decoration: none;
        color:$dark;
    }
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration:none;
    list-style:none;
    width: 100%;
    background-image:url(../images/background_top.svg);
    background-repeat: no-repeat;
    background-position:-250px 0px;
    color:$textdark;
    @include regular-font;
}

.container{
    @include lg {
        @include paddingsection(20px);
    }

    @include xxl {
        @include paddingsection(200px);
    }
}